[2017-01-05 19:04] mcginty opened #1 "add checkpointing"
a la https://github.com/flynn/noise - a clean way to roll back changes on error.

[2017-03-20 10:04] mcginty opened #2 "zero-on-drop"
clear out sensitive key material from the stack when they're dropped

[2017-03-20 10:08] mcginty opened #3 "don't panic"
death to unwraps

[2017-04-23 17:02] dtolnay opened #4 "Drop rustc-serialize dependency"
It has been deprecated: [announcement](https://users.rust-lang.org/t/deprecation-of-rustc-serialize/10485?u=dtolnay).

Is there any functionality you would require from Serde or another library before this would be possible?

[2017-04-23 17:05] mcginty commented on #4
Thanks, yeah I think that's only used for debug output and JSON parsing for the test vectors, so shouldn't be hard to be replaced by https://crates.io/crates/hex and Serde.

[2017-05-13 09:41] mcginty commented on #4
Closed in https://github.com/mcginty/snow/commit/0e722b2fb7fa5a62a639c405e936fb2ed16af1f2

[2017-05-13 09:41] #4 closed

[2018-02-08 19:59] Ryman commented on #2
Updated link: https://github.com/dalek-cryptography/curve25519-dalek/issues/11

[2018-02-27 03:33] alanhoff opened #5 "Plans for tokio integration"
Hello there! I would like to know if there are any plans for creating and acceptor on top of [`tokio::net::TcpStream`](https://docs.rs/tokio/0.1.1/tokio/net/struct.TcpStream.html).

Thanks!

[2018-02-27 11:32] mcginty commented on #5
Hey Alan! Noise is a framework for making protocols, but is not itself a protocol. By that I mean, a Noise transport packet doesn't include the necessary things like a length header to distinguish packets sent over a stream transport like TCP, so putting Tokio support in Snow itself wouldn't be very helpful.

There's currently work being done to create a "NoiseSocket" spec, whose library would be

[2018-02-27 15:34] alanhoff commented on #5
I'm really thankful for your reply and patience.

I have a pet project and was looking for ways to implement secure networking between nodes without the SSL/TLS config hurdle, I think I misinterpreted your [exemple](https://github.com/mcginty/snow/blob/d767a58db51c5e6f5364c87707ed37c0898af7c5/examples/simple.rs#L47) as being a solution.

I didn't knew about the NoiseSocket extension and it makes p

[2018-02-27 19:18] #5 closed

[2018-03-17 17:30] Metalnem opened #6 "snow-multipsk.txt and unnecessary init_remote_static/resp_remote_static values"
In protocols where remote party is sending its static public key to the local party (or vice versa), the local party doesn't have the knowledge of that key in advance. However, the test vectors in the snow-multipsk.txt file have the init_remote_static and/or resp_remote_static value set anyway (Noise_XXpsk0+psk1_25519_AESGCM_SHA256 is one example of that). The spec for the ReadMessage says:

Initi

[2018-04-18 20:55] david415 opened #7 "expose get_remote_static"
HandshakeState has got a method called get_remote_static which isn't accessible from someone using this library because Session doesn't expose it. I think this should be exposed because protocol designs using Noise may well need to use this information for additional authentication steps. My use-case is well documented:

https://github.com/katzenpost/docs/blob/master/specs/wire-protocol.rst#handsh

[2018-04-19 03:11] mcginty commented on #7
Yep, this actually [exists in my wireguard branch](https://github.com/mcginty/snow/blob/wireguard/src/session.rs#L143) (for changes necessary to cleanly work on my wireguard implementation), but I'd happily take a clean PR for the master branch.

[2018-04-19 18:37] aep opened #9 "alternatives to ring"
ring has an unfortunately messy license.

any chance to modularize this so it can be used on top of clean implementations of individual algorithms? specifically Curve25519 has a bunch of clean ones.

[2018-04-19 18:53] mcginty commented on #9
just don't use the "ring-*" features and you won't be using ring.

On Fri, Apr 20, 2018, at 2:37 AM, Arvid E. Picciani wrote:

Links:

  1. https://github.com/mcginty/snow/issues/9
  2. https://github.com/notifications/unsubscribe-auth/AAW0P8JUG79C-ice7iOelhhf6PluyiyGks5tqNl6gaJpZM4TcSuf

[2018-04-19 22:24] mcginty commented on #9
Closing, please reopen if any of my claims are in error (in that case it's a bug).

[2018-04-19 22:24] #9 closed

[2018-04-20 17:49] Metalnem commented on #6
Sorry if I wan't clear enough! Generator is creating correct vectors, but it's also including redundant data.

For example, XX vectors contain init_remote_static, which is redundant. If you just read all the values from the test vectors, you will end up with initialized rs variable. When the responder sends his s value, you could just overwrite your local rs (which will be the same in this case),

[2018-04-22 07:26] Metalnem commented on #6
One more thing: I have removed the redundant values manually (I needed to do that for my implementation of Noise), here is how the file looks after that:

https://raw.githubusercontent.com/Metalnem/noise/master/Noise.Tests/Vectors/snow-multipsk.txt

I would have modified the vector generator myself and submitted the pull request, but I'm not familiar with Rust :)

[2018-05-25 21:35] david415 commented on #7
solved by @str4d in https://github.com/mcginty/snow/pull/13

[2018-05-28 22:35] mcginty commented on #7
Fixed :)

[2018-05-28 22:35] #7 closed

[2018-05-28 22:40] #6 closed

[2018-05-28 22:47] mcginty commented on #6
@Metalnem sorry for taking so long to get on this. Finally fixed this - feel free to grab the newly generated vectors:

https://raw.githubusercontent.com/mcginty/snow/master/tests/vectors/snow-multipsk.txt

[2018-05-29 09:17] vldm opened #14 "Cargo semantic versioning differ from semver.org"
Origin semver tells that with 0 major version - "Anything may change at any time." https://semver.org/#spec-item-4

But in cargo docs, more strict rules are applied:
https://doc.rust-lang.org/cargo/reference/manifest.html#the-version-field

"Before you reach 1.0.0, anything goes, but if you make breaking changes, increment the minor version. "
In your "0.1.12" you change your errors to `failure` c

[2018-05-30 09:37] vldm commented on #14
Thank you!

[2018-06-18 08:25] mcginty opened #15 "better multithreading story"
Transport states can't be shared between threads, so multithreaded crypto isn't possible with the current design.

One possible outcome is to add an `into_async_transport_mode()` alongside the existing `into_transport_mode()`, which will convert to an `AsyncTransportMode` that is `Send + Sync`, and can be cloned cheaply for use across threads.

Feedback welcome.

[2018-06-21 08:23] mcginty opened #16 "investigate ways to avoid heap allocations"
Right now for the sake of cleaner syntax, there's allocation being done using `Box` structs to avoid forcing users of snow to specify a ton of ugly generics when they store sessions in their own structs, for example.

[2018-07-05 06:24] ozkriff opened #18 "A lot of structs don't implement Debug trait."
Is it on purpose?

[2018-07-05 08:19] mcginty commented on #18
@ozkriff nope, they're mostly just not implemented. PRs welcome )).

[2018-07-05 09:52] mcginty commented on #18
@ozkriff I think a lot of these structs will require custom `impl Debug`s.

[2018-07-07 14:25] aep opened #19 "GetHandshakeHash"
GetHandshakeHash appears to be missing?

[2018-07-08 04:05] mcginty commented on #19
Yeah, that should exist and doesn't. Feel free to send a PR and if not it's in my to-do list.

[2018-07-10 10:01] aep opened #21 "is_payload_encrypted is confusing"
in IX, the second package from the responder is supposed to be encrypted
[code]
but is_payload_encrypted() returns false before calling write_message in that state

i'm guessing this makes sense, since it didn't mix the key yet before write_message, but it's very confusing, because that means you cant use is_payload_encrypted to check for encryption _before_ sending

[2018-07-11 04:20] #19 closed

[2018-07-11 04:47] #18 closed

[2018-07-11 04:49] mcginty commented on #18
Just added a very basic `Debug` impl for `Session`, `HandshakeState`, and `TransportState`, which are the most visible structs. Feel free to open specific issues for more details or implementing Debug in more of the structs/enums.

[2018-07-18 06:13] mcginty commented on #21
I think for now I will just remove the method since it's not the correct implementation and will just cause confusion.

[2018-07-18 06:21] aep commented on #21
Hm. I'm using it now the way it is. (asserting after write_message but before sending it on wire)

[2018-07-18 12:07] vks commented on #16
It would be an option to use `impl Trait`. Unfortunately, this does not allow users to store the results in their own structs.

Maybe associated types would help?

[2018-07-19 02:12] mcginty commented on #16
@vks I think we'd need `impl Trait` to extend support for being used in structs, which it currently can't do and I'm not sure what the roadmap is for that.

[2018-07-19 06:56] mcginty opened #23 "Support deferred patterns"

[2018-07-19 06:57] mcginty opened #24 "Support fallback modifier"

[2018-07-19 06:58] mcginty opened #25 "Support Curve448"

[2018-07-19 07:16] #21 closed

[2018-07-19 23:07] kpcyrd opened #26 "No function to derive public key from private key"
There is `builder.generate_private_key()` to generate a private key, but it seems there is no function to derive the public key for that, unless all the code from `generate_private_key` is copied over into the project.

[2018-07-20 08:36] mcginty commented on #26
Thanks for the issue! Yeah, this story needs to be better in `snow`. Now's a good time to do it in anticipation of the next breaking release.

[2018-07-20 10:47] #26 closed

[2018-07-20 10:52] mcginty opened #27 "more examples"
We need more sample binaries to augment the documentation!

[2018-07-20 10:53] mcginty opened #28 "more fuzzers"
It'd be great to have an even more robust fuzzer for snow to increase confidence and avoid panics.

[2018-07-20 22:52] aep opened #30 "udp / setnonce"
missing SetNonce as well as a way to retreive the nonce.

i'm not sure if that's a good api tho to implement udp. Would it make sense to have a write_stateless or something that takes the nonce and does _not_ mutate the current counter?

[2018-07-20 22:55] aep commented on #30
oops, SetNonce does exist:  https://docs.rs/snow/0.3.0-alpha5/snow/enum.Session.html#method.set_receiving_nonce

feeels still like a strange api. any opinion on a stateless write/read ?

[2018-07-21 04:57] mcginty commented on #30
I agree, I think SetNonce in this library is clunky and error-prone (the design makes it too easy to catastrophically reuse nonces). If you check out the `wireguard` branch, I added an AsyncTransportState alongside TransportState which is basically what you describe, and it also implements Clone for use in multitheading.

[2018-07-21 07:01] aep commented on #30
i'm taking alot of inspiration from wireguard, so this already sounds great.

this api makes alot of sense imp https://github.com/mcginty/snow/blob/wireguard/src/async_transportstate.rs#L39

[2018-07-22 04:18] mcginty commented on #30
cool, I was planning on releasing 0.3 soon so let's plan on this for 0.4 👍

[2018-07-24 21:44] kpcyrd commented on #30
Talking about wireguard, if we want to make sure that the user of the library can't possibly ever process a replayed message, we could (in udp mode) enforce the nonce system that wireguard uses, which are TAI64N timestamps:

https://cr.yp.to/libtai/tai64.html

I would also argue that Async is a bad name for udp mode as it could be easily confused with non-blocking io like tokio/futures.

[2018-07-24 23:15] aep commented on #30
Not sure what the added benefit of a timestamp is over a monotonous counter. I guess it's because wireguard has to avoid replay of the first packet. That seems rather wireguard specific and only relevant to IK.

Agree on the async tho. How about UnorderedTransport ?

[2018-07-25 03:55] mcginty commented on #30
A noise library should have no concept of time, a TAI64N-based counter is a prime example for an external nonce supplier :).

Agree that Async is confusing. In a length-apathetic world it would be ExplicitNonceTransportState but that is too much of a mouthful. How bout Stateless?

[2018-07-25 06:37] aep commented on #30
Stateless is great.

[2018-07-25 08:36] mcginty commented on #30
Ok, I've started adding a stateless transport mode in https://github.com/mcginty/snow/tree/0.4. Still a lot of refactoring and testing that needs to be done before it's ready.

[2018-08-22 09:19] aep opened #32 "read_message_with_nonce should be const"
read_message_with_nonce takes a &mut self.
I think it should take a const self instead to make sure no state gets modified.
I'm intending to move replay-protection to *after* decryption to measure packet duplication, but if read_message_with_nonce modifies state, that might be a security issue.

[2018-08-24 00:09] mcginty commented on #32
Nice catch.

[2018-08-24 07:05] mcginty commented on #32
I pushed a 0.4.0-alpha2 release with the change.

[2018-08-24 07:07] aep commented on #32
thank you!

[2018-08-24 07:07] #32 closed

[2018-08-25 17:47] aep opened #33 "deprecate rust-crypto / wasm"
whats your opinion on the state of rust-crypto? it doesnt look well maintained and doesnt compile for webassembly. there's an unpopular but maintained fork here that does https://github.com/buttercup/rust-crypto-wasm

this stuff is maintained https://github.com/RustCrypto but would require picking libraries for individual parts.

- [x] CSPRNG https://github.com/RustCrypto/CSRNGs
- [x] 25519 https:

[2018-08-25 18:05] mcginty commented on #33
yeah I'd really like to phase out rust-crypto as rust implementations become available. I'm very interested in replacing the remaining pieces with competent implementations (ex. curve25519-dalek).

I'll have to check out this wasm fork to see what kinds of changes they made, haven't heard of it up until now.

[2018-08-25 18:28] aep commented on #33
in the meantime the PR might be an OK quickfix. it enables the fork only for wasm.

[2018-08-29 12:38] aep commented on #33
@mcginty seems to work for me. should we go ahead with that PR?

[2018-08-29 15:18] mcginty commented on #33
Hey sorry for being less responsive, I'm traveling more intensely for the next couple weeks. Let's take a look at that PR.

[2018-08-29 15:32] mcginty commented on #33
Your code seems fine, but there's some smell in the `rust-crypto-wasm` crate that makes me on edge.

First, they haven't updated the `README` or crate metadata, which makes this crate seem more like a dirty workaround hack than a maintained repository.

Second, the constant time comparison implemented isn't convincingly constant time given how complicated that can be in Rust with its clever optimi

[2018-08-29 15:50] aep commented on #33
makes sense, thanks for checking.

[2018-08-30 12:12] mcginty commented on #33
No problem! Also unfortunately, I think the AES checkmark in your list isn't there yet either, because the RustCrypto project doesn't implement GCM.

Also, we already use https://github.com/cesarb/chacha20-poly1305-aead for chacha20poly1305, and the same author of that wrote the BLAKE library we are using as well.

[2018-08-30 12:29] aep commented on #33
could you open a bug in the meantime? Maybe someone else could work on the GCM. If thats the only part missing, that sounds pretty good!

[2018-09-09 14:36] mcginty commented on #30
In 0.4.0.

[2018-09-09 14:36] #30 closed

[2018-09-09 14:38] #1 closed

[2018-09-26 19:52] aep commented on #33
this is currently blocking me from porting to aaarch64 and mipsel. any idea what the state is?

[2018-09-26 20:08] mcginty commented on #33
rustls uses ring as its crypto provider. does ring not compile for aarch64 and mipsel I take it?

[2018-09-26 20:38] aep commented on #33
ah, that makes sense of course. no ring isnt that portable unfortunately.

[2018-09-26 21:03] aep commented on #33
hacl compiles, however:

    Init { reason: GetRngImpl }

looks like thats just missing:

https://github.com/mcginty/snow/blob/da3675fbb03a753cc758dc09717fa6d03fe9276f/src/resolvers/hacl_star.rs#L19

should i add this using the rand crate?

[2018-09-26 21:14] mcginty commented on #33
You can do this using the existing snow just by using `FallbackResolver` and a custom resolver that only resolves the RNG to an instance from the rand crate (can just copy that part from the default resolver).

I'd like to keep the HACL* resolver as-is because it would only make sense to resolve the RNG in that impl if it's a HACL*-specific RNG, in my opinion.

[2018-09-27 07:05] aep commented on #33
got it. unfortunately hacl has no aesgcm either. how do you feel about this one:

https://github.com/miscreant/miscreant-rs

[2018-10-13 19:45] david415 opened #35 "add noise spec compliant rekey functionality"
Greetings,

As per noise spec section 4.2 there ought to be a rekey function defined as:

"""REKEY(k): Returns a new 32-byte cipher key as a pseudorandom function of k. If this function is not specifically defined for some set of cipher functions, then it defaults to returning the first 32 bytes from ENCRYPT(k,    maxnonce, zerolen, zeros), where maxnonce equals 264-1, zerolen is a zero-length byt

[2018-10-14 05:09] david415 commented on #35
As an example, here's the golang noise library's implementation of this rekey function:
https://github.com/flynn/noise/blob/master/state.go#L65-L71

[2018-10-14 05:49] mcginty commented on #35
https://docs.rs/snow/0.4.0/snow/enum.Session.html#method.rekey should make it possibly to implement this in the client code, no? I think the rekey API you cited in the docs is new and will be something to target for snow 0.5 perhaps.

[2018-10-31 18:09] evgeniy-scherbina opened #37 "Does snow support ecdh with secp256k1 curve."
For example I need such pattern Noise_XK_secp256k1_ChaChaPoly_SHA256. Does snow support it out of the box?

[2018-11-12 21:29] david415 opened #39 "Noise Extension: Hybrid Forward Secrecy"
Are you interested in this feature?

Here's the noise fork by Yawning Angel that has the XXhfs using NewHope-Simple:

* https://github.com/katzenpost/noise

Here's the spec extension:

https://raw.githubusercontent.com/noiseprotocol/noise_spec/41d478d3dd97d77a6695f4d6cf6283e2830e9ca6/extensions/ext_hybrid_forward_secrecy.md

[2018-11-18 07:39] mcginty commented on #39
Yes, I'm interested in adding HFS support.

[2019-01-15 20:56] geogriff-signal commented on #35
somehow i didn't notice the above PR, and sadly wrote my own implementation already. i do believe my implementation is more flexible, as PR #36 only allows to rekey both initiator and responder together (which i'm not sure how you'd even manage to synchronize in most application protocols), whereas my interface allows for rekeying modes such as continuous rekeying, as mentioned in the Noise spec.

[2019-01-15 22:37] david415 commented on #35
i really do not care which PR is merged. Just pick one and merge it soon before the next drone strike (or whatever human rights violation we are trying to prevent with math)

As for flexibility. @geogriff-signal your assertion that my PR is not useful is unfounded. My mixnet uses it just fine: Katzenpost mix network rekeys after every message sent! Here's our specification: https://github.com/katz

[2019-01-16 08:36] mcginty commented on #35
Sorry for the lag in getting this into the library. My excuses can be counted in the stars.

Thankfully snow is (or, should be) well-divorced from any tools used to prevent real-world harm. Remember that this code has not yet received a formal audit (...but if anyone is interested in doing so or working out a grant for one, you know where to contact me).

[2019-01-16 13:36] Mandragorian commented on #23
Hello,

I am a CS Master's student focusing on security and cryptography. I know Rust but I would like to get better at it. Can I help with this issue (or something else?)

[2019-01-16 15:22] mcginty commented on #23
@Mandragorian Welcome! Yes, you can certainly help with this issue. It seems like a good starting task at first glance if you want something more than just a tiny bugfix to take on.

It looks like the Haskell implementation of Noise recently added deferred patterns recently, so https://github.com/centromere/cacophony/commit/18b7348c54fd61fcd0c220298883de0d09c8364d is probably a good starting point

[2019-01-16 20:41] david415 commented on #35
i am writing a mix network which will use a snow based link layer to connect the mixes. so... at least in theory one day hopefully it should prevent murder.

[2019-01-18 00:31] Mandragorian commented on #23
Hello again,

I am running my code against the test vectors from cacophony. Specifically I am testing the `NK1` pattern. According to the framework's specification the `NK1` pattern is defined as

    NK1:
      <- s
      ...
      -> e
      <- e, ee, es

So in my code I have

[code]

However this results in the tests failing with the message `write_message failed on message 1
`. After putting s

[2019-01-23 07:20] mcginty commented on #23
@Mandragorian sorry for the delay in responding! This is left from the original rust noise implementation, and I wanted to keep these low-level internals as close to the reference parent as possible. Maybe @trevp can comment on why it was like this originally, but I agree it seems best to make the patterns looking as close to the specification as possible.

[2019-01-23 16:10] Mandragorian commented on #23
Thanks for the explanation. Then I would suggest that this issue is resolved without changing how the `Dhes` and `Dhse` tokens are used internally. Then you can open a separate issue for bringing the patterns' form closer to the specification, if you deem it necessary.

[2019-01-24 07:36] trevp commented on #23
The Noise spec used to define the meaning of the "es" and "se" patterns based on the sender of that particular message.  That was hard to read, so we changed them to refer to the initiator/responder roles.  This code pre-dates that, but it would certainly be easier to read if it was changed to match the current spec.

[2019-01-28 15:34] #23 closed

[2019-01-29 00:35] david415 opened #45 "build fails, all of them fail to build"
Hi Jake,

Snow doesn't build anymore... at all.

On the crates page (https://crates.io/crates/snow)
you have specified snow = "0.4.2" however the latest
git tag is "0.4.0". This tag fails to build and the master
branch fails to build.

Your latest release is marked as v0.3.0 via github
however that no longer builds because older versions of x25519-dalek have
been yanked:

HEAD is now at 9b16056...

[2019-01-29 02:15] david415 commented on #45
I also tried building git commit id 2f1745908fa7b4dc34f74d94158903baa703a5ef which should have been tagged as 0.4.2 and it fails to build with a bunch of rand trait errors:

[code]

[2019-01-30 06:01] mcginty commented on #45
Thanks @brycx for the related issue!

@david415 good idea. I made a signed release for the latest stable version (https://github.com/mcginty/snow/releases/tag/v0.4.2)

Closing since this isn't really a snow problem.

[2019-01-30 06:01] #45 closed

[2019-01-30 09:20] david415 commented on #35
i guess we can close this ticket now that the PR was squashed and merged
https://github.com/mcginty/snow/pull/42

[2019-01-30 09:20] #35 closed

[2019-01-30 09:31] mcginty commented on #35
Thanks!

[2019-02-07 15:25] brycx opened #47 "Deriving PartialEq on builder::Keypair"
Currently `builder::Keypair` derives `PartialEq`, though I'd actually expect it to implement it in constant-time since it holds a private key. `PartialEq` seems to open up for timing-side channels, but I don't know if this is in-scope for snow.

Either way, `PartialEq` only seems to be used in testing, so I was thinking it'd be better to place it under a conditional: `#[cfg_attr(test, derive(Parti

[2019-02-14 03:29] mcginty commented on #47
Agree, great catch.

[2019-02-15 09:00] brycx commented on #47
I can open up a PR, I'd just need to know which of the two approaches you want to go with.

To me, it seems as if implementing `PartialEq` would be the best approach as it could become useful for users to compare keypairs.

[2019-02-16 02:31] mcginty commented on #47
Yep, I would definitely prefer the `PartialEq`. We already indirectly depend on the `subtle` crate through our use of dalek, so feel free to add it as a direct dependency to use their constant time comparison.

[2019-02-26 00:49] #47 closed

[2019-04-02 05:59] aep opened #51 "save/resume session key"
I need to save session keys to disk and restore them for failover.

CipherState is already public, and its use is fairly obvious.
StatelessTransportState::new is a bit lacking because HandshakeState contains a lot of stuff that isnt relevant after hs.

is it ok to introduce a

[code]

[2019-04-09 16:21] leo-lb commented on #15
This would be necessary for a project I am working on, what exactly are the implications of running encryption and decryption in parallel with the Noise Framework? Is there states that make each message depend on the previous one, so that two messages can't be written (encrypted) in parallel?
Or you would make the call to read_message and write_message asynchronous that add to a queue and that que

[2019-04-11 06:18] mcginty commented on #51
Hey @aep, sorry for the delayed response. Can I ask what the use case for this would be, where an application wouldn't want to just establish a new session by completing a new handshake?

If the need makes sense, then it'd make sense to have a way to save/restore a (Stateless)TransportState, but it's a more dangerous API since I feel like (key,nonce) tuple reuse is more possible with it existing.

[2019-04-11 06:25] mcginty commented on #15
The normal `Transport` maintains a counter that must be atomically increased such that a counter isn't reused for two messages, which would be catastrophic. The `StatelessTransport` mode, however, delegates the responsibility of counters to the application, making it a prime candidate for being parallel-friendly.

I think the next step in snow's case is to make the stateless transport mode `Send +

[2019-04-11 12:27] aep commented on #51
hah, no worries.

we've got a couple million connections and i'm trying to figure out ways to migrate the server binary without reconnecting, because the key exchange is a lot of load.  Idea would be to send the thing a signal, it then serializes all session keys, restarts with the new binary which then deserializes them again.

[2019-04-11 15:27] leo-lb commented on #15
Here how the `libp2p` crate does it:
https://github.com/libp2p/rust-libp2p/blob/master/protocols/noise/src/io.rs
https://github.com/libp2p/rust-libp2p/blob/master/protocols/noise/tests/smoke.rs

They implemented several state machines and it seems like it did not bother implementation, I'm not sure about the specifics, it looks like they did not require `Sync` because not needing it.

[2019-04-15 16:43] aep commented on #33
how do we proceed here? My proposal would be to add a new resolver that simply doesnt have aesgcm.

[2019-04-15 16:57] aep opened #54 "impl Random for OsRng {}. in wrong file"
impl Random for OsRng {}

should be in types.rs, since default.rs is not built if you exclude the default feature.
rust doesnt allow impl the trait as a user either

[2019-04-16 00:19] mcginty commented on #33
Yeah, let's just remove our dependency on rust-crypto and not support AES-GCM in the default resolver for now, and I will look into spinning off a separate crate with just the AES-GCM support + fixes.

If you want to submit a PR, I think it's time to remove our dependency on an abandoned crypto crate.

[2019-04-29 22:02] stusmall commented on #28
I'd love to take this on.  I'll give it a look tonight.

[2019-05-06 22:10] gedigi commented on #2
I was looking at implementing [zeroize](https://crates.io/crates/zeroize) for the Keypair struct. However, it will affect callers as they'd not be able to move that struct anymore. What do you suggest? Would this be a major version change?

[2019-06-19 11:12] BlackHoleFox commented on #33
@mcginty I spent a bit of time and replaced `rust-crypto`. Its probably not the cleanest job ever, but any tips are appreciated. All the tests pass and the benchmarks run as well. Currently I can't cross-build Snow because of a error inside `rust-crypto`'s symbols. You can see my work over [here](https://github.com/BlackHoleFox/snow/tree/remove-rustcrypto). If it looks alright to start then I'd be

[2019-06-19 15:26] mcginty commented on #33
@BlackHoleFox just skimmed it - off to a good start, left you some comments. Feel free to open a PR and I can help you finish iterating on it.

[2019-06-22 12:03] mcginty opened #58 "Remove `Session` enum"
Upon further reflection, I don't think that the `Session` enum actually offers enough to be worth its hassle. In many ways it dulls the usefulness of Rust's strong typing, as well, by introducing runtime errors for calling methods in the wrong states when the type-checker could take care of that otherwise.

[2019-06-22 15:16] #58 closed

[2019-06-22 15:52] mcginty commented on #54
Sorry for the delayed response!

In this case, `OsRng` is part of the `rand` crate, but not the `rand_core` crate, so it is dependent on the default resolver.

[2019-06-22 16:00] aep commented on #54
so you can disable the default resolver, which currently doesn't compile for embedded.

you can't impl Random for OsRng {} in a user defined resolver, so after disabling the default resolver there is no way to impl Random

[2019-06-22 18:18] mcginty commented on #54
Ahh, gotcha. Well, it's not the prettiest solution but you can work around that by creating your own struct and storing an `OsRng` inside, and then implementing `Random` for that.

Alternatively, I could introduce another feature separate from default-resolver that depends on the `rand` crate and has the impl you're looking for.

[2019-07-08 09:29] dsprenkels commented on #39
Hey all, in August/September I will probably have some time to implement this. Can I claim this issue for now?

[2019-07-15 02:57] mcginty commented on #39
@dsprenkels go for it :).

[2019-08-02 08:13] dsprenkels commented on #39
Here's some preliminary notes.

- Implement the latest HFS spec, i.e. the one listed at <https://github.com/noiseprotocol/noise_hfs_spec/blob/master/output/noise_hfs.pdf>.
- At request of @david415, I will use the Kyber-1024 key encapsulation scheme.
- At first, this scheme will be based on the Rust bindings to the PQClean suite of implementations. <https://github.com/PQClean/PQClean> from Kannwis

[2019-08-27 12:58] dsprenkels commented on #39
Hey @mcginty, today I have worked on the HFS support. I have implemented the parsing and message pattern for the `"hfs"` modifier, which can be seen in https://github.com/dsprenkels/snow/commit/9efc2664f26e0009ca325483162da96e72a76ef2.

Up until now I found that feature-gating everything was doable. However, when I move more towards the core of the crate, I see that I may get difficult at times. O

[2019-08-28 21:09] david415 commented on #39
I'd like to try out your branch... What is a valid Noise HFS specification string?
This one is not valid:
Noise_XXhfs_25519+Kyber1024_ChaChaPoly_BLAKE2b

[2019-08-28 21:40] dsprenkels commented on #39
Because Trevor's spec did not mention anything about the `+`-syntax, I have currently implemented the resolving in a way that you have to specify the KEM separately in the builder. Let me give an example:

[code]

In this case, the resolver is the default resolver (not `ring`).

[2019-08-28 22:36] david415 commented on #39
Shouldn't this work?

[code]

Attempted and failed to use Kyber1024 in this branch of mix_link:

https://github.com/sphinx-cryptography/mix_link/tree/with_kyber.0

[2019-08-31 09:00] aep opened #62 "no_std"
we're migrating away from rust, but one of the things that's holding me back is snow, since it's fairly high quality and noise-c is .. not.

how do you feel about supporting no_std? That is, i'll do the majority of the work of course, but you'd have to maintain and defend it later :D

[2019-08-31 10:27] mcginty commented on #62
I am *very* in favor of supporting no_std, targeting the 0.7 release. I started researching a bit removing our extensive use of `Box`. So far it's been promising, and would love feedback and collaboration on the architecture for this change.

[2019-08-31 10:28] mcginty commented on #54
I'll close this unless I'm mistaken here - in which case, please feel free to re-open!

[2019-08-31 10:28] #54 closed

[2019-08-31 10:30] aep commented on #62
nice!
intermediately, you can just use the alloc crate, which offers Box.

but reducing heap in general is very welcome

[2019-09-01 10:05] mcginty commented on #16
related to #62

[2019-09-24 14:30] david415 commented on #39
Hi all. I'm looking forward to this feature getting landed. No hurry I'm just saying that I'm looking forward. Cheers!

[2019-09-30 22:24] isislovecruft commented on #16
Why is `snow` doing `Box<dyn SomeTrait>` everywhere rather than `&'a SomeTrait`? Is it because the explicit lifetimes would make it harder for `snow` users?

[2019-10-03 04:58] mcginty commented on #16
@isislovecruft yep, it's purely for ergonomic reasons. I'd love to use something like associated traits and maybe a convenience macro to be able to drop the `Box`es while keeping roughly the same level of simplicity.

[2019-10-23 12:56] aep commented on #62
this is more difficult than expected because cargo will pull in rand with dependencies anyway because its specified somewhere down the default resolver dependencies

carving out the default implementation into a separate crate would solve this. would you be ok with it?

[2019-10-23 14:40] tarcieri commented on #16
If you want trait objects without heap allocations, one option is an `enum` with `Deref` impl whose `Target` is the desired trait object. Something like this:

[code]

[code]

Note that this does have the advantage that the size of `CipherBackends` will always be as big as the largest of the variants, but hopefully they're roughly the same size.

[2019-10-23 14:43] tarcieri commented on #62
@aep are you running into one of these issues, perhaps?

https://github.com/rust-lang/cargo/issues/4664
https://github.com/rust-lang/cargo/issues/4866

[2019-10-23 14:52] aep commented on #62
yes! its criterion.
that's actually easier to fix then.

with this diff it works
https://github.com/aep/snow/commit/78426ea780231b36b133f767514ba36c5b55630f

all of these are upstreamable, except removing criterion, but this isn't even strictly necessary.
would be nice to have CI complain when someone breaks no-std tho

[2019-10-25 16:15] aep opened #66 "test vectors only valid when nonce doesn't advance?"
i'm having trouble understanding the test vectors versus how nonce works.
as far as i understand the noise spec, every read and write will advance the nonce by one,
but the test vectors only work out if the nonce never advances. is this intentional or is my math wrong?

[2019-11-10 05:21] mcginty commented on #16
@tarcieri the reason I didn't choose this method in the original design is because I wanted the option for people to implement their own crypto backends if snow didn't provide any that fit their needs. If it's totally clear that flexibility isn't necessary, we could definitely switch to something like this.

[2019-11-10 05:24] mcginty commented on #66
In transport mode the nonce will increase by one, which should be the case since we [call `into_transport_mode()` in the vector test code](https://github.com/mcginty/snow/blob/master/tests/vectors.rs#L223). What math isn't working out?

[2019-11-10 05:31] mcginty commented on #62
That change (making separate benches crate in the same workspace) sounds fine to me if it allows us to be `no_std` compatible :).

[2019-11-10 12:14] tarcieri commented on #16
Unfortunately I think you need either `Box` or a generic type parameter in that case, the former requiring a heap allocation, and the latter defeating the point of using an `enum` since it can just monomorphize rather than using a trait object.

[2019-11-21 13:16] vifino opened #67 "How to accept multiple public keys?"
Hey.
I've been wondering how to properly accept multiple public keys instead of just a single one.
Does simply not providing a `remote_public_key(&pubkey)` and checking `HandshakeState.get_remote_static()` work?
Using a `psk` works, but it's not ideal.

[2019-12-06 21:46] nickray commented on #62
@aep are you still planning to do any work on this? I am interested in Snow for a variant of PIV I'm implementing on Cortex-M33 microcontrollers, where I'd like to use Noise to establish Secure Messaging. Ideally, I would like to avoid `alloc`, so I'm wondering whether it makes more sense to modify Snow to be alloc-free, or rather to reimplement a subset in a separate library.

@mcginty how's your

[2019-12-06 22:15] tarcieri commented on #62
@nickray I'm interested in doing something quite similar! (not PIV or that class of token, but trying to encrypt a channel to a USB device)

I'd suggest using traits from the `RustCrypto` project:

- https://crates.io/crates/aead
- https://crates.io/crates/digest

They're object safe and widely supported. There's an [open PR for `ring-digest`](https://github.com/RustCrypto/hashes/pull/82), and I'd

[2019-12-07 08:52] aep commented on #62
@nickray unfortunately no. after 5 years of trying to do rust on embedded we have decided that it's not the right tool.  My team is working on a noise implementation in zz (https://github.com/aep/zz)

[2019-12-09 16:42] tarcieri commented on #62
Note: I made a crate for using the [`aead::Aead`](https://docs.rs/aead/latest/aead/trait.Aead.html) trait with *ring*'s cipher implementations:

https://github.com/RustCrypto/AEADs/tree/master/ring

[2019-12-23 14:48] aep commented on #66
finally figured it out. the snow tests don't advance the nonce at all. i think they should, but it doesn't really matter.

the cacophony tests DO advance the nonce, but only after the 3rd message, because they assume tcp where transport starts in nonce 0, i guess.

All of the tests now work out for me, thanks.

[2019-12-23 14:48] #66 closed

[2020-01-01 01:26] mcginty commented on #66
@aep ah, maybe you're referring to the fact that the snow vectors don't generate transport messages while other libraries do?

[2020-01-27 10:21] Frando opened #71 "Support XChaCha20Poly"
I want to implement [hypercore-protocol](https://github.com/mafintosh/hypercore-protocol) in Rust. The protocol uses a NOISE handshake of the variant `Noise_XX_25519_XChaChaPoly_BLAKE2b`. So far, snow only implements `ChaChaPoly` but not `XChaChaPoly`.

`hypercore-protocol` in NodeJs uses crytpo from libsodium. It recently added `XChaChaPoly` (see [here](https://libsodium.gitbook.io/doc/secret-key

[2020-01-27 14:07] tarcieri commented on #71
Note that the [`chacha20poly1305` crate](https://github.com/RustCrypto/AEADs/tree/master/chacha20poly1305) also supports XChaChaPoly

[2020-01-27 14:12] tarcieri opened #72 "Consider `aead::Aead` as an alternative to (or building block for) `Cipher`"
The [`aead` crate](https://docs.rs/aead/) provides abstractions for AEAD algorithms (including `no_std`-friendly ones) with [several implementations](https://github.com/RustCrypto/AEADs) including adapters for the [AEAD algorithms in `ring`](https://docs.rs/ring-aead).

Aside from the `rekey` method, it seems like it's close to a drop-in replacement for the [existing `Cipher` trait](https://docs.r

[2020-01-27 22:09] Frando commented on #71
I wrote something up with the chacha20poly1305 crate: #73

[2020-02-06 15:29] mcginty commented on #72
These types should hardly be touched except for the rare cases where people need to implement their own providers of crypto algorithms not provided by snow itself, so I'm not sure if I can currently justify the extra dependency in my head, especially if only `Cipher` gets this treatment, and we don't also start relying on `RngCore` to replace `Random`, etc.

[2020-02-06 15:33] mcginty commented on #71
Thanks @Frando, taking a look now!

[2020-02-08 18:54] mcginty commented on #33
#76 and #79 are related.

[2020-02-08 18:55] mcginty commented on #33
In the mean time though, rust-crypto is no longer in this project so I'm going to go ahead and close this issue.

[2020-02-08 18:55] #33 closed

[2020-02-08 18:56] mcginty commented on #39
This is now merged in master.

[2020-02-08 18:56] #39 closed

[2020-02-21 01:51] mcginty opened #82 "libsodium's Curve25519 point validation conflicts with Noise's approach"
This is a continuation of the conversation started on #75.

# Summary
libsodium has made the decision to try to prevent accidental foot-shooting by refusing to do DH operations on points that are clearly not securely randomly generated.

Noise has taken the approach of [*not* validating keys at all](https://moderncrypto.org/mail-archive/noise/2017/000971.html), since it's impossible to definitivel

[2020-02-21 02:55] tarcieri commented on #82
Is it currently panicking here?

https://github.com/mcginty/snow/blob/1408112/src/resolvers/libsodium.rs#L110

Looking at the `Dh` trait, it seems it’s already equipped to return a `Result`, so I think the most straightforward thing to do is your proposed option 1: propagate this error from libsodium by changing that `expect` to a `?`.

You could implement option 2 without copying the blacklist fr

[2020-02-21 08:41] mcginty commented on #82
@tarcieri it errors at the DH calculation which does properly return an `Err`, not the GroupElement construction. That said, this should return a `Result` too, so I'll fix that.

[2020-02-21 08:46] mcginty commented on #82
My concern about the workaround of always returning a `[0u8; 32]` on libsodium failure is if the library ever introduced another failure case that's _not_ related to providing a low-order point, then we'll fail-open instead of fail-safe, which seems flimsy.

[2020-02-21 19:45] tarcieri commented on #82
Where does point validation occur in `sodiumoxide`? I'd expect it's there.

Since the Noise handshake cryptographically binds all parameters ala a transcript hash, any discrepancies on either side will result in a MAC verification failure, so getting anything wrong will automatically fail closed.

That said, I'd agree failing closed early on a point validation failure feels safer to me.

[2020-02-22 03:47] mcginty commented on #82
I agree that it's kind of... counterintuitive, but libsodium (and sodiumoxide) do the low-order check [in the scalarmult function[(https://github.com/jedisct1/libsodium/blob/master/src/libsodium/crypto_scalarmult/curve25519/ref10/x25519_ref10.c#L90).

Also, it sounds like the safe option here is to fail closed, so I'll keep it this way unless there's a compelling real-world issue that justifies a

[2020-03-23 13:17] ChickenLover opened #83 "Add rng parameter in encapsulate method of a Kem trait"
Hello,
I am trying to realize [Round5](https://round5.org) KEM in Rust and implement your Kem trait for it. The problem is Round5 requires that both `generate` and `encapsulate` methods take a source of random as a parameter.
It would be great if you'll add `rng: &mut dyn Random` parameter in `types::Kem::encapsulate` method

[2020-03-28 22:11] benma commented on #62
@nickray could you please elaborate a bit on why it wasn't the right tool for you?

[2020-03-28 22:38] nickray commented on #62
That's @aep :)

[2020-03-29 22:17] zserik commented on #51
Would it be a possibility to add serde support there?

[2020-03-29 22:21] zserik commented on #67
It could be really useful to check against a list of allowed public keys instead of just allowing a single one.

[2020-03-29 22:39] zserik commented on #2
Can callers wrap that struct themselves in a `Zeroizing`?

[2020-03-30 16:12] tarcieri commented on #2
If one of the existing impls `Zeroize` provides works on them yes. However, if the underlying types can be moved/copied, they will still leave copies in memory.

[2020-03-30 19:41] zserik commented on #15
Is `StatelessTransportState` currently thread safe?

[2020-03-30 19:45] zserik opened #84 "[Handshake] Support an `will_next_write_payload_encrypted`"
The `HandshakeState` should have some way to determine if the next payload will be encrypted, where false-negatives are acceptable (and will probably happen if `!is_my_turn()` and `read_message` wasn't called yet). e.g. A way to only send a payload with the next `write_message` if it will be encrypted.

[2020-03-30 19:51] zserik commented on #72
Currently, `snow` already depends on crates which depend on `aead`, so this wouldn't really change the amount of crates pulled in.

[2020-03-30 20:51] tarcieri commented on #72
There is one problem with using the `aead` crate's traits for Snow's purposes right now: [they aren't object safe](https://github.com/RustCrypto/traits/issues/70), but easily could be with some small changes.

[2020-03-31 12:07] aep commented on #62
@benma http://aep.github.io/from-rust-to-zz/ :)

[2020-03-31 12:16] benma commented on #62
Thanks. For what it's worth, async/.await seems to work nicely now on no_std / embedded, after https://github.com/rust-lang/rust/pull/69033 was merged. Then I guess it depends on what kind of system you are targeting, some might be better supported than others. With FFI, one can still reuse all the SDK code, no need to rewrite everything in Rust.

[2020-03-31 12:24] aep commented on #62
Yes that's ferrous, not the rust devs, trying to make rust work on embedded. They're doing a great job.

i don't think that's the right place to discuss this. everyone in the github issue gets notifications.
happy to continue on twitter, reddit, or in a new issue in the zz repo.

[2020-04-05 15:40] mcginty commented on #67
@vifino sorry for not getting back to you. @zserik is correct - using the `X` pattern (static key for sender is transmitted) will allow you to receive a static key and then verify it in whatever way you'd like.

[2020-04-05 15:53] mcginty commented on #2
@gedigi (*one year later*) I think that this seems like a pretty reasonable way to go, and people that want a less secure keypair struct can simply make their own and convert to snow's keypair type as needed.

Maybe a good way to start that's not even a breaking change is simply to use Zeroize to clear out sensitive material that's no longer used during the transition from `HandshakeState` to `Tra

[2020-04-05 16:08] mcginty commented on #51
@aep sorry for not getting to this feature yet! I think this is reasonable, and I think maybe it best fits behind some kind of feature-gate which can behave basically like a consent form for understanding that this is a way to leak secrets if not handled correctly.

@zserik I don't see why not, especially if it's again behind this feature flag.

[2020-04-05 16:26] mcginty commented on #15
@zserik `StatelessTransportState` is not clone-able, so must currently live within an `Arc<Mutex<StatelessTransportState>>` for multi-threading workloads, which is of course not ideal since there's nothing theoretically limiting it from being the type of thread-safe we want - snow just needs a refactor.

[2020-04-05 17:14] mcginty commented on #84
I agree that this definitely feels more useful than a "was_write_payload_encrypted", which was implemented because it's trivial.

To implement `will_write_payload_encrypt` feels hairier, because it basically involves doing a "dry run" of the `write_message` operation without changing internal state, which feels kind of dirty to me. That said, `snow` does now have checkpointing to recover from erro

[2020-04-05 17:19] aep commented on #51
No worries. As you know we're not using rust and therefor snow anymore anyways

[2020-04-05 21:53] zserik commented on #15
As long as no rekeying is required, `Arc<StatelessTransportState>` should be sufficient. If rekeying is required, `RwLock<Arc<StatelessTransportState>>` might be useful, too. I currently think about writing some library which can temporarily split a connection into a `ReadHalf` and a `WriteHalf`, which should again be merged for rekeying and rehandshaking. (In that rekeying/rehs case, the working

[2020-04-06 00:09] mcginty commented on #15
Yes excuse me, thank you for the correction!

[2020-04-06 11:33] benma commented on #62
How is progress going on this issue? Is 0.7.0 still the target for no_std support (but with alloc)?

[2020-04-06 11:40] aep commented on #62
@benma btw if I get your use case right this might relevant: snow used to support hacl-star which is formally verified high quality crypto by Microsoft research  and works fine on embedded.

[2020-04-06 12:20] benma commented on #62
Thanks @aep . With custom patches? I am using a no_std environment, which does not seem to be supported yet.

[2020-04-06 12:24] aep commented on #62
no, i never got around to getting rust really stable.

but since it works for you, you might want to use hacl-star which itself is F* not rust, so works fine on embedded. was removed from snow some while ago, probably in an effort to use all rust dependencies

[2020-04-07 04:10] mcginty commented on #62
HACL* support was removed because of a correctness issue in the snow's wrapper for it, but it could be easily added back in. I removed it in the mean time because I didn't want to keep code in snow that I wasn't confident in.

[2020-04-07 05:59] aep commented on #62
Could you tell more about the correctness issue?

[2020-05-06 15:32] Frando commented on #71
Closed by #73

[2020-05-06 15:32] #71 closed

[2020-05-29 11:52] Frando opened #85 "Release new alpha"
Hi @mcginty, could you release an `0.7.0-alpha5`? That would allow me to publish [hypercore-protocol-rs](https://github.com/Frando/hypercore-protocol-rs) on crates.io (it depends on some PRs that were recently merged). Thanks!

[2020-05-30 22:28] zserik commented on #72
that specific issue with `aead` is fixed now.

[2020-05-31 13:46] mcginty commented on #85
Done! Sorry for the wait.

[2020-05-31 13:46] #85 closed

[2020-06-01 23:50] zserik opened #86 "Fix documentation of read_message and write_message"
Currently, the documentation for the functions `read_message` and `write_message` (`HandshakeState` and `TransportState`) doesn't refer to the arguments of them correctly. This should be fixed.

P.S. maybe it would be a good idea to isolate methods common to both `HandshakeState` and `TransportState` into a trait.

[2020-06-02 01:53] BlackHoleFox commented on #3
@mcginty Was this still something you were interested in doing? It seems doable assuming a few error and API changes. If so, are you opposed to making the `Decrypt` error variant less opaque so callers have a better idea what failed?

[2020-06-06 14:30] zserik opened #88 "`HandshakeState`: Add function to find out size of next write"
It would be useful to find out which size (w/o payload) the next `HandshakeState::write_message` will produce, so that the payload may be used to pad up the message to make it harder for an attacker to find out that a re-handshake happened (which means that I can't simply save the length of the padding outside of the more-or-less-encrypted payload, as it would be noticable w/o decrypting it).

e.g

[2020-06-09 10:26] zserik opened #90 "Add ability to reconstruct public key from private key"
priority: low

practically the functionality of `wg pubkey`.

[2020-06-12 07:16] #86 closed

[2020-06-26 13:25] pawanjay176 opened #94 "panic in handshake state"
Got this panic while trying to interop rust-libp2p noise (which uses snow) with go-libp2p noise.
[code]
The panic is in `snow-0.6.2`, but the unchecked indexing exists in current master as well.
https://github.com/mcginty/snow/blob/master/src/handshakestate.rs#L359

[2020-07-01 07:37] mcginty commented on #94
@pawanjay176 can you share what Noise pattern you're using?

[2020-07-01 09:59] pawanjay176 commented on #94
@mcginty  I'm using the XX pattern. This is the my full `NoiseParams` string `Noise_XX_25519_ChaChaPoly_SHA256`.

[2020-07-06 13:48] #94 closed

[2020-07-06 13:50] mcginty commented on #94
Thanks very much @pawanjay176, that was an important catch. Will push a patch release for this.

[2020-08-21 06:02] thombles opened #96 "Default resolver's relationship with ed25519-dalek keys"
I hope you don't mind me asking a question here - I couldn't see anywhere else to ask!

Could anybody please help me understand the difference between the 32-byte private/public key blobs created by `generate_keypair`, and the same ones from `ed25519-dalek`'s [`Keypair`](https://docs.rs/ed25519-dalek/1.0.0/ed25519_dalek/struct.Keypair.html)?

Specifically, I would like to:

1. Generate a keypair u

[2020-10-19 18:29] zserik opened #98 "Add optional serde Deserialize+Serialize support for NoiseParams"
(I would require at least serde support for `DHChoice`, `CipherChoice` and `HashChoice`)

[2020-10-19 21:26] zserik opened #99 "`builder::Keypair` should be cleaned up using zeroize or secrecy"
(cited from https://docs.rs/zeroize/1.1.1/zeroize/)

Currently, private keys returned from `Builder::generate_keypair()` may be easily accidentially leaked because the memory used by the structure is not zeroed on drop. This should be fixed.

[2020-10-23 03:58] crackcomm opened #100 "No-std has no `rand_core::Error::new`"
Trying to build snow for wasm, stumbled upon `rand_core::Error::new` missing in `src/resolvers/ring.rs` [try_fill_bytes](https://github.com/mcginty/snow/blob/master/src/resolvers/ring.rs#L69).

I solved it with:

[code]

Just for testing but not sure what error to return.

[2021-02-05 08:09] delbonis opened #104 "Splitting large payload into multiple messages"
I have a use-case where I need to split up a payload into a series of Noise messages, but it's not clear to me what the most efficient chunk size should be.

The `TransportState` type (and related types) doesn't provide a way to know the maximum size of a payload for a single message.  It just says that if the final message would be larger than the 65535-byte maximum that it returns an `Err`.

*Lo

[2021-02-06 03:13] david415 opened #105 "Update Kyber HFS to use Kyber NIST round 3"
The current implementation uses Kyber NIST round 2 but should be updated to NIST round 3 in order to have compatibility with our golang fork of the flynn Noise library where we added the Kyber HFS NIST round 3:

 https://github.com/katzenpost/noise

My context and use case is: I'm writing a Rust client for an anonymous communication network that was written in Golang. It's a decryption mix network

[2021-02-07 12:08] david415 commented on #105
My latest work in progress is here: https://github.com/mcginty/snow/pull/106

[2021-02-09 05:03] mcginty commented on #104
Hey @delbonis! Yeah, the maximum payload size for transport messages should really be exposed in the API, good point.

True that it'd be nice to have a convenience method for large payloads. I was thinking snow might benefit from having some convenience APIs that return `Vec<u8>`s anyway, so a method that takes a large payload chunk and returns a `Vec<Vec<u8>>` could be on the table too.

In the m

[2021-02-13 06:39] aspenluxxxy opened #109 "License should be switched from the Unlicense"
Unlicense is nice in theory, but it has several problems that'd perhaps steer large projects away from using anything under it.

[This Stack Overflow post summarizes it better than I can](https://softwareengineering.stackexchange.com/a/147120):

A license with very similar terms, but much safer, would be [CC0](https://tldrlegal.com/license/creative-commons-cc0-1.0-universal) or perhaps [0BSD](http

[2021-02-14 11:41] mcginty commented on #109
Thanks for the context - I wasn't aware of the legal issues with Unlicense.

Agreed that moving to the Apache/MIT dual license to avoid any future license incompatibilities makes sense.

[2021-02-14 11:43] #109 closed

[2021-03-02 17:54] sempervictus opened #111 "Noise "messages" in a stream seen as one binary blob"
I'm using snow as part of my efforts to adopt Rust, and writing a "simple crypto stream" for use in future endeavors. I've worked out the basic structs and the fun around ownership, got negotiation to work, and am now running into a n odd situation where the client sends 10 25B vectors, and the server side sees 1 250B vector.

My `read` method is:
[code]
I'm sure there's some cleaner way to handle

[2021-03-05 20:51] sempervictus commented on #111
So digging into other implementations, looks like the size prefix on the block _is_ the noise-socket approach to the problem - https://github.com/go-noisesocket/noisesocket/blob/f487ac765620f092ce17ce997b9ae7425acae498/conn.go#L168, so i'd still need to do it it for compatibility with libraries in other languages.

[2021-03-05 20:51] #111 closed

[2021-04-06 09:32] jakubtrnka opened #115 "Expose interface for secret key to public key conversion."
I implemented a simple certificate infrastructure.
The server is sending certificate with its static public key signed by some authority to a client.
The server on startup reads file with the certificate and its secret static key.

I want to implement validation of the server's  secret key against the public key in the certificate so that I can tell "*This* secret key belongs to *that* public key"

[2021-04-06 09:34] jakubtrnka commented on #115
I'm willing to implement this if the idea gets positive acknowledgement.

[2021-05-04 09:27] elenaf9 opened #119 "Release of a new version with updated dependencies"
The latest version of this library on crates.io (v0.7.2) has outdated dependencies for `aes-gcm` (uses v.0.7 instead of the latest version v0.9) and `chacha20poly1305` (uses v0.6.0 instead of v0.8.0) which results dependencies to the unmaintained crates [`block-cipher`](https://github.com/iotaledger/stronghold.rs/issues/72), [`stream-cipher`](https://github.com/iotaledger/stronghold.rs/issues/74),

[2021-05-11 05:04] mcginty commented on #119
Yeah! So sorry about that - it got yanked because the update broke API compatibility and I was waiting for the updated `rand` release from https://github.com/dalek-cryptography/x25519-dalek, which seems to still be pending. Given that, I'll absolutely just release a new minor version now lest I get distracted again and everybody get stuck for even more time...

[2021-06-23 15:39] quapka commented on #28
Hi, have you made any progress so far, @stusmall? I might take a look.

[2021-06-23 16:01] stusmall commented on #28
Nothing past the changes that got merged.

[2021-06-23 16:29] quapka commented on #28
Ok, and what is the intended way of running the fuzzer? I've built the `hfuzz` and tried to running it without a success:
[code]

[2021-06-23 20:51] quapka commented on #28
Oh, I see.
[code]
And I also needed `sudo apt-get install binutils-dev`. Now:
[code]
Works.

[2021-12-06 11:43] Ahacad opened #124 "domain snow.rs expired"
You might want to renew it. :)

[2021-12-09 20:00] mcginty commented on #124
Oops! Thanks, good catch. A squatter sniped it so I'll just remove it as an official domain for now and setup an alert in case anyone tries any funny business.

[2021-12-09 20:00] #124 closed

[2021-12-15 04:07] Gowee opened #127 "Domain name is pointing to a parking page"
Hi.

I just notice snow.rs is pointing to a parking page for sale. It appears to be expired and registered by someone else (possibly intended cybersquatting?).

[2021-12-15 04:09] Gowee commented on #127
dup with #124

[2021-12-15 04:09] #127 closed

[2021-12-24 12:32] rapiz1 commented on #90
+1
I find myself needing this feature when building an application on top of `snow`. It will be handy for users if they lost their public key

[2022-02-02 05:55] #3 closed

[2022-03-16 22:39] uber6 opened #130 "Can't run the example"
After git cloning the repo and running cargo run --example simple -- -s, I get the following error:

[code]

I created a new cargo and copied the code to main.rs and all dependencies and I get the following error:

[code]

I tried to figure out what is wrong, but I can't seem to figure out.

[2022-03-17 01:51] mcginty commented on #130
Hmm, it looks like your example is being compiled somehow with an implicit `--no-default-features` somewhere?

I'm not sure why that is for your setup, but you could probably fix it by being more explicit a la:
[code]

FYI, I also just noticed that the `clap` dependency in the simple example was misdefined, so I fixed that in a commit to master just now.

[2022-03-17 02:53] uber6 commented on #130
It certainly worked. So if I wanted to use this on my project, what minimal dependencies are required to make snow work? I'm quite new so I apologize in advance.

[2022-03-17 03:20] mcginty commented on #130
It really depends on your specific cryptographic needs to define what truly "minimal" is, but the simple answer is that it's easiest to simply start with snow and its default feature-set, then once you know specifically what primitives you're using, you can disable the default resolver and roll your own custom one with a minimal set of dependencies.

[2022-03-17 09:26] uber6 commented on #130
Got ya. Thanks for the advice and help!

[2022-03-17 09:26] #130 closed

[2022-04-06 14:47] ColonelThirtyTwo opened #131 "Expose constants"
The `constants` module, or at least the `TAGLEN` and `MAXMSGLEN` constants, should be exposed as a public API.

`write_message` and `read_message` have limitations on the size of the message based on the two above values, however it's impossible for users of the API to know the maximum length without copying those constants into their own code.

[2022-04-11 14:03] survived opened #133 "`HandshakeState::write_message` always checks if tag fits into output buffer"
[At this line][check] there's a check that aead tag fits into output buffer, although the tag is not necessarily appended to the message. E.g. in the `Noise_NN_25519_AESGCM_SHA256` handshake first message size is 32 bytes, but this code fails:

[code]

But if we supply buffer of length 48 bytes, then this code works, but only 32 bytes are written to the output buffer

[code]

Requiring output buff

[2022-04-18 13:48] #100 closed

[2022-07-01 15:08] andrewbaxter opened #134 "Transitive old zeroize version"
This requires `zeroize < 1.5` transitively via chacha which is breaking compatibility with other libraries (such as `rsa`): https://github.com/RustCrypto/AEADs/issues/400

Can the version requirement here be relaxed?

[2022-07-01 16:03] #134 closed

[2022-09-06 10:03] Gowee opened #137 "Elligator for indistinguishable public key"
Hi.

Thanks for this great project.

As noise and snow are famous for providing excellent security guarantees while requiring few efforts to adopt, I am trying to use snow in my (yet another) proxy tool which aims at circumventing Internet censorship. I start with  `Noise_NNpsk0_25519_ChaChaPoly_BLAKE2s` as it looks pretty straightforward.

But then I realize that, in initial handshake messages, p

[2022-09-08 22:05] piegamesde opened #138 "Split encrypt and decrypt halves"
Hi, I need to support the use case where sender and receiver side are more or less running independently from each other. From what I gather about the Noise protocol so far, this should be possible, as both directions have their own and independent counters. However, I haven't found any methods that would help me do this.

[2022-09-12 21:51] mcginty commented on #137
Hey @Gowee,

Yes, support for Elligator could be added (or possibly just adding "codec" functions to the keys being transmitted over the wire so folks could take control of it themselves, as it's not an official part of the Noise framework).

How far along on your project are you, and do you have any ideas on how you'd like to see it implemented?

[2022-09-12 22:33] mcginty commented on #138
Hey @piegamesde! That is indeed something I added previously for an early WireGuard experiment using snow, and have not integrated into the API. To be honest, snow hasn't gotten the love it deserves in the last couple years, and is due for a redesign to better support the newer Rust ecosystem (async, etc).

[2022-09-13 10:32] piegamesde commented on #138
Thanks for the information. I switched to the `noise-protocol` crate in the meantime as it does expose the `CipherState` structs.

Usually I'm not a fan of so-called  "sans IO" protocol libraries, but in this case the API is so simple to use that I don't think doing explicit IO stuff would be worth the effort.

[2022-09-30 11:24] Gowee commented on #137
Hi, @mcginty.

It is here: https://github.com/Gowee/noisy-shuttle. A just-working prototype for now.

Considering that handshake messages are written out as opaque bytes instead of structs, I think a "codec" function (`Fn(&[u8; 32]) -> [u8; 32]` ?) would be straightforward. (Or is there an alternative way to get handshake messages as structured? Say, something like, `struct Psk_E { pubkey: [u8; 32

[2022-10-10 17:17] jessa0 opened #141 "Add async API and crypto traits"
I've been starting to think about how to add support for async crypto engines to `snow` (like crypto coprocessors, or in my case, the [Web Crypto API](https://docs.rs/web-sys/0.3.60/web_sys/struct.SubtleCrypto.html)). The Web Crypto API is particularly difficult to work with together with `snow`, as one cannot simply spawn another thread to drive `snow` synchronously since the `wasm32-unknown-unkn

[2022-10-12 01:10] jessa0 commented on #141
One thing to note about adding `AsyncCipher`, `AsyncDh`, and `AsyncHash` traits is that, unless we add a `R: CryptoResolver` generic parameter to `snow`'s structs instead of storing a trait object (which is required to have all associated types specified), we have to return `Pin<Box<dyn Future>>` from any async trait methods, which would add an allocation and deallocation to every crypto operation

[2022-11-04 20:13] david415 opened #142 "feature add: PQNoise patterns from the paper"
Hi! Very cool paper. Keep in mind however that any of these PQNoise patterns such as pqXX could be made to use a hybrid KEM which combines an ECDH with Kyber. They say in the paper that all their proofs also apply for the hybrids. And if one were so inclined RSA could be used as a KEM here if you are an old school cypherpunk that distrusts these new fangled elliptic curves. But in the real world I

[2022-11-18 19:08] Intensity opened #143 "Consider supporting wide or variable nonce width for XChaChaPoly"
It looks like the XChaChaPoly cipher is setting 16 out of 24 of its nonce bytes to zero.

While this cipher may be outside the spec, there are a few options available to make use of the additional nonce bytes for those who enable the feature. For example, in stateless transport mode, allowing more than 8 bytes (64 bits) of nonce - up to the maximum.

Or, in stateful modes, either going with the wi